@media screen and (max-width: 991px) {
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  /* hamburger*/
  .nav-toggle{
    display: block;
    margin-right: 2.2rem;
    cursor: pointer;
    font-size: 4rem;
  }
  .greeting, .name{
    font-size: 6rem;
  }
  #dynamic{
    font-size: 3.6rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .nav-bar{
    overflow: initial;
    padding-block: 1rem;
  }
  .logo{
    margin-left: 2.5rem;
    width: 7rem;
    height: 5rem;
  }
  .nav-content{
    margin-block: 10px;
    padding-block: 20px;
    font-size: 4rem;
  }
  .nav-links
  {
    position: absolute;
    background-color: #3d6b65;
    top:90%;
    left: -100%;
    width: 100%;
    padding-block: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap:0;
    transition: 0.2s ease-in-out;
    padding-bottom: 120%;
 }
 .nav-links.active{
    left: 0;
 }

 .nav-child{
  margin: 2px;
  padding-inline: 0;
 }
 .image-3d-div{
  margin-block: 10rem;
  height: 45rem;
 }

 .image-3d, .content{
  max-width: 100%;
  margin: 3em auto;
 }
 .current-stack, .about-head, .project, .contac-head{
  margin-block: 5rem;
  font-size: 5rem;
 }
 .about-para{
  font-size: 1.7rem;
 }
 .hr-learn{
  margin-block: 10rem;
 }


 .tech-stack{
  height: 15rem;
  margin-bottom: 10rem;
}

 .slider{
  left:0;
  right: 0;
  margin: 0 auto;
  height: 60vh;
  border: 2px solid red;
 }
 .slide{
  left:0;
  right: 0;
  margin: 0 auto;
  height: 100%;
 }

 .contac{
  font-size: 1.7rem;
  height: 80vh;
 }
input,input::placeholder{
  font: 5rem;
  height: 3rem;
 }

 footer{
  height:30vh;
  font-size: 2rem;
 }

}